@use '../../lib/service.scss' as s;

a { 
    text-decoration: none;
}

.form {
    display: grid;              
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    margin: 15%;
    border: 2px solid s.color('light');
    box-shadow: 0px 0px 5px 2px s.color('light');
    background-color: rgb(173, 220, 235);

    &_title {
        font-size: 36px;
        color: black;
    }

    &_label {
        font-size: 24px;
        
    }

    &_textarea {
        border: 1px solid s.color('light');
        padding: 4px;
        border-radius: 6px;
    }

    &_field_0 {

        display: flex;
        justify-content: center;
        grid-row: 1 / 1;
        grid-column: 1 / 2;
        
     }

     &_field_1 {
     
         
        grid-row: 3 / 3;
        grid-column: 1 / 2;
        
     }

     &_field_2 {
     
        
        
        grid-row: 2 / 3;
        grid-column: 2 / 3;
        
     }
    

     &_field {
        display: flex;
        flex-direction: column;
        gap: 4px;
        margin: 6px;
     }

     &_info {
        font-size: 42px;
        color: rgb(8, 7, 74);
     }
    

     &_button {
        display: flex;
        justify-content: center;
        
        padding: s.space(2);
        border-radius: 6px;
        color: white;
        background-color: rgb(61, 98, 233);
        font-size: 24px;
        
     }

     &_product_list {
        background-color: red;
     }

 }
.empty {
    color: black;
}

.ul {
    color: black;
}

.li {
    color: black;
}